body {
	font-family: "lato", sans-serif;
	background-color: #ddd;

}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div {
	background-color: #fff;
	margin: 60px auto;
	padding: 40px;
	width: 80%;
}

h1 {
	font-weight: normal;
	font-size: 300%;
	margin-top: 0%;
}

h2 {
	font-weight: normal;
	color: #333;
	font-size: 170%;
}

nav a {
	color: #ddd;
	font-size: 140%;
	text-decoration: underline;
	padding-right: 1%;
}

a {
	color: #D00;
	text-decoration: none;
}

img {
	width: 100%;
}

p {
	font-size: 110%;
	line-height: 150%;
}

article {
	padding-top: 8%;
}

article h2 {
	font-size: 210%;
	color: black;
	margin-top: 0;
	margin-bottom: 20px;
}

article h3 {
	font-size: 210%;
	color: #ccc;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 10px;
}

article h4 {
	text-align: right;
	font-size: 110%;
	padding-bottom: 4%;
	border-bottom: 1px solid #ccc;
}

span {
	font-size: 600%;
	color: #ddd;
	margin: 3% 1% 5% 0%;
	float: left;
	font-weight: normal;
}

footer {
	font-size: 110%;
}